body{
    background-color: #888439;
}

.auth-fieldset{
    margin: 10px;
    border: none;
    
}

.auth-button{
    background-color:  #249938;
    color: #9e1515;
}

.register-link{
    color:  #5300FE;
}

.auth-form-input{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}